# Supabase Credentials
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_URL=""
VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""

# Zoho OAuth Credentials
ZOHO_CLIENT_ID=""
ZOHO_CLIENT_SECRET=""
ZOHO_TOKEN_URL="https://accounts.zoho.com/oauth/v2/token"
ZOHO_REFRESH_TOKEN=""
ZOHO_ORG_ID=""

# Groq API Credentials
GROQ_API_KEY=""
